# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Data
semantic_drone_dataset/
semantic-drone-dataset/
*.npy

# Models
*.pth
*.pt
best_*.pth

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Kaggle credentials
kaggle.json
